Bu makine öğrenmesi modelinde karar verme yapısı oluşturulurken flowchart'lar kullanılır. Bunda decision trees denir

Supervised Learning konsepti kapsamındadır. Sonuçta bir tree oluşturur

Örnek bir işe alım uygulaması yaparak kavrayalım

In [6]:
import pandas as pd
import numpy as np
from sklearn import tree

df=pd.read_csv("DecisionTreesClassificationDataSet.csv")
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

* scikit-learn kütüphanesi decision tree'lerin düzgün çalışması için her şeyin rakamsal olmasını bekliyor bu nedenler verisetimizdeki tüm y ve n değerleri 0 ve 1 olarak düzeltiyoruz. aynı sebeple eğitim seviyesini de bs=0,ms=1 ve phd:2 olark güncelliyoruz. map() fonksiyonu kullanarak boş hücreler veya geçersiz değer girilen hücreler NaN ile doldurulucaki buna şuandaki verisetimizde ihtiyacımız yok ama ilerde yoğun veri ile çalışınca ihtiyac olabilir

In [7]:
# düzeltmeleri yapalım
duzeltme_mapping = { 'Y':1 , 'N':0}
duzeltme_mapping_egitim= {"BS":0, "MS":1, "PhD":2}

df.IseAlindi = df.IseAlindi.map(duzeltme_mapping)
df["SuanCalisiyor?"]=df["SuanCalisiyor?"].map(duzeltme_mapping)
df["Top10 Universite?"]=df["Top10 Universite?"].map(duzeltme_mapping)
df["StajBizdeYaptimi?"]=df["StajBizdeYaptimi?"].map(duzeltme_mapping)
df["Egitim Seviyesi"]=df["Egitim Seviyesi"].map(duzeltme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

* sonuç sütununu ayırıyoruz:

In [8]:
y=df["IseAlindi"]
X=df.drop(["IseAlindi"],axis=1)

* Decision Tree'imizi oluşturuyoruz:

In [9]:
clf=tree.DecisionTreeClassifier()
clf=clf.fit(X,y)

In [10]:
# Prediction yapalım şimdi
# 5 yıl deneyimli, halihazırda bir yerde çalışan ve 3 eski şirkette çalışmış olan, eğitim seviyesi lisans
# top10 ünide okumadı
# stajı bizim şirkette yapmadı 
print(clf.predict([[5,1,3,0,0,0]]))

[1]

C:\Users\90541\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [13]:
# toplam 2 yıllık iş deneyimi 7 kez iş değiştirmiş çok iyi bir okul mezunu değil şuan çalışmıyor
print(clf.predict([[2,0,7,0,1,0]]))

[0]

C:\Users\90541\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [14]:
print(clf.predict([[2,1,7,0,0,0]]))

[1]

C:\Users\90541\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [15]:
print(clf.predict([[20,0,5,1,1,1]]))

[1]

C:\Users\90541\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(