## Outlier (aykırı değer) Tespiti ve Verisetinden Temizlenmesi İşlemleri

* Outlier bir veriseti içindeki diğer gözlemlerden aykırı ve sapan gözlem veya verideğeridir
* Outlier Nedenleri ?
    * İnsan kaynaklı hatalar (hatalı veri girişi)
    * Cihazlardan kaynaklanan hatalar (ölçüm cihazlarının nadiren de olsa yanlış değer girmesi)

In [4]:
import pandas as pd

dataset={
    "İsim":["can","ali","tuğçe","ayşe","alihan","sahin","kaan","emre","bartu","ismail","gökalp","osman","filiz","veli","ilker"],
    "Boy":[88,132,132,137,139,142,142,144,147,148,149,149,150,207,234]
}
df=pd.DataFrame(dataset)
df

      İsim  Boy
0      can   88
1      ali  132
2    tuğçe  132
3     ayşe  137
4   alihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gökalp  149
11   osman  149
12   filiz  150
13    veli  207
14   ilker  234

In [5]:
df.describe() #bu fonksiyon bazı fonksiyonları gösterir

              Boy
count   15.000000
mean   149.333333
std     33.014427
min     88.000000
25%    138.000000
50%    144.000000
75%    149.000000
max    234.000000

## Q1 (%25 percentile hesaplama)

In [11]:
Q1=df["Boy"].quantile(0.25)
Q1

138.0

## Q3(%75 percentile hesaplama)

In [10]:
Q3=df["Boy"].quantile(0.75)
Q3

149.0

In [12]:
IQR_degeri=Q3-Q1
IQR_degeri

11.0

## Alt Limit ve Üst Limit Hesaplama

In [13]:
alt_limit=Q1-1.5*IQR_degeri
alt_limit

121.5

In [14]:
ust_limit=Q3 +1.5*IQR_degeri
ust_limit

165.5

## Alt ve Üst Limitleri Hesapladığımıza Göre Outlier Verileri Bulalım

In [15]:
df[(df.Boy<alt_limit)| (df.Boy>ust_limit)] # | -> veya

     İsim  Boy
0     can   88
13   veli  207
14  ilker  234

* bu değerler outlier değerlerdir. algoritmanın daha verimli çalışması için bu değerler çıkarılmalı

In [16]:
df_outlier_filtrelenmis=df[(df.Boy>alt_limit) & (df.Boy<ust_limit)]
df_outlier_filtrelenmis

      İsim  Boy
1      ali  132
2    tuğçe  132
3     ayşe  137
4   alihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gökalp  149
11   osman  149
12   filiz  150